[bumpversion]
current_version = 1.0.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file:docker/Dockerfile]
search = clarity-api[all]>={current_version}
replace = clarity-api[all]>={new_version}

[bumpversion:file:clarity_api/version.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:clarity_api/agent_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:clarity_api/mcp_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
